.appointment-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-appointment{
  margin-top: 80px;
}

.appointment-list{
  margin-top: 20px;
  padding-top: 20px;
}