.book-now{
  display: block;
  margin-left: 30%;
  margin-top: 80px;
}

.space{
  height: 100px;
}

.center-select{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
}

.create-form{
  margin: 50px;
}

.input{
  padding: 10px;
  margin: 20px;
  display: flex;
  /* flex-direction: column; */
  width:180px;
  font-size: 18px;
}

.book-now{
  font-size: 18px;
}